body{
    color: white;
    background-color: rgb(17, 17, 17); 
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1{
    color:lightpink
}

a{
    line-height: 10;
    text-decoration: none;
    color:white
}

a:hover{
    color: purple;
}

.logo_gmail{
    width:50px;
    height: auto; 
}

.texto-tel1, .texto_email1{
    display:none;
}

@media(max-width: 784px){

    .texto-tel1, .texto_email1{
        display: block;
    }

    .texto-tel, .texto_email{
        display: none;
    }
}