body{
    color: whitesmoke;
    background-color: rgb(17, 17, 17); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Oswald, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 60px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid hotpink;
}

.center{
    text-align: center;
}

h1{
   font-family: Oswald,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hotpink;
}

footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    transition: 0.3s
}

footer img:hover{
    transform: scale(1.1);
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(32, 31, 31);
    padding-top: 10px;
    margin-right: -8px;
    margin-left: -40px;
    margin-bottom: -10px;
    
}

footer a{
    margin:20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
    font-size: 15px;
}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: purple;
}

h3{
    color: lightpink;
}

h2{
   font-family: Oswald,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   line-height: 1;
}

.id{
    line-height: 0.5;
}

.sobre-mim{
    margin-top: 35px;
}

.certificados:hover{
    color:purple
}

.pasta{
    width: 50px;
    height: auto;
    padding-top: 10px;
    margin-left: 10px;
}

.div_pasta{
    display: flex;
}


.gmail_app{
    display:none;
}

.projetos{
    height:auto;
    margin-bottom: 100px;
}
 
@media(max-width: 784px){

    .gmail_app{
        display: block;
    }

    .gmail_site{ 
        display: none;
    }

    video{
        margin-left: -20px;
    }

    footer{
        padding-left: 10px;
    }

    .pasta{
        margin-left: -5px;
    }
}